<!-- Header menu -->
<app-client-header></app-client-header>
<!-- Header menu -->
<div class="container">
    <h3 class="mt-4">Client Detail</h3>
    <div class="fees_membershortinfo">
        <div class="form-inline mb-2">
            <div class="form-group input-group-sm">
                <label class="">Client Name:</label>
                <span>{{ clientData.clientName }}</span>
            </div>
        </div>
        <div class="form-inline mb-2">
            <div class="form-group input-group-sm">
                <label class="">Primary Contact:</label>
                <span>{{ clientData.clientManager }}</span>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group input-group-sm">
                <label class="">Client ID: </label>
                <span>{{ clientData.clientID }}</span>
            </div>
        </div>
    </div>
</div>
